.container {
  width: 90%;
    z-index: 1;
    position: relative;
    .tabs-container{
      gap: 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 4px;
      p{
        font-weight: 400;
      }
      .tabs{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      overflow: hidden;
      & > div:nth-of-type(1){
        border-right: 1px solid rgba($color: silver, $alpha: 0.5);
      }
      .tab{
        background: #fae8ff;
        cursor: pointer;
        padding: 8px;
        color: black;
        width: 50%;
        text-align: center;
        transition: all 0.3s ease;
      }
      .active{
        background: #c026d3;
        transition: all 0.3s ease;
        opacity: 1;
        color: white;
      }
    }
    }
  .content {
    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & > button {
        background: #d946ef;
        color: white;
        border: none;
        font-size: 1rem;
        margin-top: 14px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
      }
      .separator {
        position: relative;
        text-align: center;
        margin-top: 14px;
        font-size: 14px;
        &::after {
          content: "";
          position: absolute;
          width: 42%;
          top: 50%;
          left: 0;
          font-size: 14px;
          background: #cbd5e1;
          height: 1px;
          transform: translate(0, -50%);
        }
        &::before {
          content: "";
          position: absolute;
          width: 42%;
          top: 50%;
          right: 0;
          font-size: 14px;
          background: #cbd5e1;
          height: 1px;
          transform: translate(0, -50%);
        }
      }
      .notice {
        text-align: center;
        margin-top: 8px;
        a {
          color: #d946ef;
        }
      }
    }
  }
}
