.container {
  width: 100%;
    z-index: 1;
    position: relative;
    .tabs-container{
      gap: 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      .tabs{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      overflow: hidden;
      & > div:nth-of-type(1){
        border-right: 1px solid rgba($color: silver, $alpha: 0.5);
      }
      .tab{
        background: rgba($color: $blue-500, $alpha: 0.5);
        cursor: pointer;
        padding: 8px;
        color: white;
        width: 50%;
        text-align: center;
        transition: all 0.3s ease;
      }
      .active{
        background: $blue-600;
        transition: all 0.3s ease;
        opacity: 1;
      }
    }
    }
  .content {
    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & > button {
        background: $blue-500;
        color: white;
        border: none;
        font-size: 1rem;
        margin-top: 14px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
      }
      .separator {
        position: relative;
        text-align: center;
        margin-top: 14px;
        font-size: 14px;
        &::after {
          content: "";
          position: absolute;
          width: 42%;
          top: 50%;
          left: 0;
          font-size: 14px;
          background: rgb(109, 108, 108);
          height: 1px;
          transform: translate(0, -50%);
        }
        &::before {
          content: "";
          position: absolute;
          width: 42%;
          top: 50%;
          right: 0;
          font-size: 14px;
          background: rgb(109, 108, 108);
          height: 1px;
          transform: translate(0, -50%);
        }
      }
      .notice {
        text-align: center;
        margin-top: 8px;
        a {
          color: $blue-300;
        }
      }
    }
  }
}
