.container {
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  .icon {
    margin-right: 10px;
    display: flex;
    background: white;
    border-radius: 50%;
  }
}
