.navbar-container {
  display: flex;
  justify-content: center;
  align-self: stretch;
  height: 60px;
  z-index: 10;
  // position: relative;
  // position: fixed;
  position: sticky;
  top: 0;
  width: 100%;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 80%;
    max-width: 1300px;
    .nav-links {
      display: flex;
      z-index: 1;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 3rem;
        li {
          font-size: 17px;
        }
      }
      .link {
        text-decoration: none;
        color: black;
        position: relative;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .active .link {
      position: relative;
      color: rgb(220, 15, 220);
    }
  }
  .menu-title,
  .mobile-menu-logo {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    .navbar {
      .nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 100px !important;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .navbar-container {
    .navbar {
      .nav-links {
        &::after {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1650px) {
  .navbar-container {
    .navbar {
      max-width: 1600px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    min-height: 60px;
    top: 38px;
    position: fixed;
    .navbar {
      .nav-links {
        position: fixed;
        right: 0;
        top: 0;
        background: #f3f4f6;
        border-radius: 4px;
        width: 40vw;
        transition: all 0.5s ease;
        min-height: 100vh;
        flex-direction: column;
        z-index: 60;
        ul {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 5rem;
          margin-left: 0.625rem;
          gap: 12px;
          z-index: 20;
          li {
            font-size: 1rem;
            font-weight: 600;
            margin: 0.9rem;
            &:nth-of-type(1) {
              font-size: 1.5rem;
            }
          }
        }
        a {
          font-size: 1rem;
          font-weight: lighter;
        }
        &::after {
          content: "";
          width: 50vw;
          height: 100vh;
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          transform: translate(-100%, 0);
          opacity: 1;
          transition: transform 0.5s ease, opacity 0.6s ease;
        }
      }
      .nav-links.hide {
        box-shadow: none;
        &::after {
          opacity: 0;
          transform: translate(0, 0);
        }
      }
      .hide {
        transform: translate(100%);
      }
    }
    .menu-title {
      display: block;
      color: black;
    }
    .mobile-menu-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      .mobile-menu-logo-content {
        display: flex;
        flex-direction: column;
        min-height: 4rem;
        justify-content: center;
        align-items: center;
        p,
        hr {
          color: rgba(255, 255, 255, 0.7);
        }
        hr {
          width: 100%;
        }
        p {
          margin-top: 0.6rem;
          text-transform: capitalize;
        }
      }
    }
    /* hamburger menu */
    .hamburger-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      height: 40px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      border-radius: 3px;
      z-index: 5;
      z-index: 70;
    }
    .hamburger {
      width: 30px;
      height: 1.8px;
      background: black;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
    }
    .hamburger {
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 1.8px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
      &::after {
        transform: translateY(10px);
      }
      &::before {
        transform: translateY(-10px);
      }
    }
    .open .hamburger {
      transform: translateX(-8px);
      background: transparent;
      box-shadow: none;
      &::after {
        transform: rotate(-45deg) translate(5px, 5px);
      }
      &::before {
        transform: rotate(45deg) translate(5px, -5px);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar-container {
    .navbar {
      .nav-links {
        width: 50vw;
      }
    }
  }
}
